.root { /* FOR THE MAIN ANCHORPANE*/

    -fx-background-color: #FFFFFF;
}

.anchorPanes {
-fx-background-color: #D1C4E9;
}

.ds3-tf_box { /* FOR THE TEXTFEILDS AND PASSFEILDS*/
    -fx-background-color: transparent;
    -fx-border-color: #dedee4 ;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #101010;
}

.ds3-label-text{ /* FOR THE CLICKABLE LABELS*/
    -fx-background-color: #383838;
    -fx-background-radius: 1px;
    -fx-text-fill: #ffffff;
}
.error-labels{
 -fx-background-color: transparent;
  -fx-fill: #101010;
 }
.ds3-label-text:hover {
    -fx-background-color: #f78c1f;
    -fx-fill: #2bbcf5;
    }


.ds3-pink-button{ /* FOR THE PINK BUTTONS TO CLICK*/
    -fx-background-color: #f78c7b;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.ds3-pink-button:hover {
    -fx-background-color: #f78c1f;
    -fx-fill: #2bbcf5;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 0px 0px;
}
